@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// COLORS
$headerfont: #DAD3D3;
$bluetext: #66C7E5;

// BORDERS
$borderfont: #dad3d35b;


* {
    margin: 0;
}

// Mobile portrait
@media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
        background-color: black;
        margin: 0;
        .luminex_page {
            display: none;
        }
    }
}

// Mobile landscape
@media only screen and (min-width: 601px), (orientation: landscape) {
    body {
        background-color: darkblue;
        margin: 0;
        .luminex_page {
            display: none;
        }
    }
}


// Desktop 
@media only screen and (min-width: 1200px) {
    body {
        background-color: black;
        .luminex_page {
            // background-image: url("./img/Background_Luminex.png");
            display: flex;
            flex-direction: column;
            // Navbar
            nav {
                background-color: black;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 4em;
                // height: 35%;
                // Company Logo
                .co_name_logo {
                    // Make this fixed within window
                    margin: 0 0 0 10ch;
                    .logo_name {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        #lightbulb {
                            width: 1.4em;
                            height: 1.4em;
                        }
                        p {
                            color: $headerfont;
                            color: white;
                            font-family: 'Inter', sans-serif;
                            font-size: 1.5rem;
                        }
                    }
                }
                // Nav Links
                .nav_links {
                    display: flex;
                    gap: 3ch;
                    position: relative;
                    right: 17ch;
                    // Home
                    .home {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1ch;
                        #home {
                            width: 1.5em;
                            height: 1.5em;
                        }
                        a {
                            color: $headerfont;
                            font-family: 'Inter', sans-serif;
                            font-size: 1rem;
                            text-decoration: none;
                        }
                    }
                    // Summary
                    .summary {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1ch;
                        #summary {
                            width: 1.5em;
                            height: 1.5em;
                        }
                        a {
                            color: $headerfont;
                            font-family: 'Inter', sans-serif;
                            font-size: 1rem;
                            text-decoration: none;
                        }
                    }
                    // Insights
                    .insights {
                        position: relative;
                        display: inline-block;
                        .dropbtn {
                            background-color: black;
                            color: $headerfont;
                            font-family: 'Inter', sans-serif;
                            font-size: 1rem;
                            border: none;
                            cursor: pointer;
                        }
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: black;
                            min-width: 120px;
                            min-height: 80px;
                            border: 2px solid $borderfont;
                            border-radius: 10px;
                            transition: .6s all ease-in;
                            // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                            padding: 1em;
                            a {
                                color: $headerfont;
                                text-decoration: none;
                                display: block;
                                font-family: 'Inter', sans-serif;
                                padding: .5em .1em;
                            }
                            a:hover {
                                background-color: $borderfont;
                                background-color: white;
                                color: $bluetext;
                                color: black;
                                border-radius: 5px;
                            }
                          }
                    }
                    .insights:hover {
                        .dropdown-content {
                            display: block;
                        }
                    }
                }
            }
            .luminex_stuff {
                background-image: url("./img/Background_Luminex.png");
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 93vh;
                // TOP SQUARE
                .top_square {
                    // Size it in em
                    width: 75em;
                    height: 20em;
                    display: flex;
                    justify-content: center;
                    margin: 40px 0 30px 0;
                    border-radius: 10px;
                    gap: 4em;
                    // Picture
                    #lights {
                        // border: 1px solid white;
                        border-radius: 5px;
                        width: 25em;
                        height: 15em;
                        // height: 100%;
                    }
                    // Content
                    .right_square {
                        display: flex;
                        align-items: center;
                        border: 4px solid $borderfont;
                        background-color: black;
                        border-radius: 10px;
                        width: 65em;
                        height: 15em;
                        .solutions {
                            color: aqua;
                            font-size: 1.7rem;
                            font-family: 'Inter', sans-serif;
                            font-weight: bold;
                            position: relative;
                            left: 2em;
                            width: 55%;
                        }
                        .solutions::before {
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            right: 0;
                            height: 6px;
                            width: 80%;
                            background-color: white;
                        }
                    }
                }
                // BOTTOM SQUARE
                .bottom_square {
                    background-color: blueviolet;
                    width: 65em;
                    height: 15em;
                    background-color: black;
                    border: 4px solid $borderfont;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 1em 6em 1em 6em;
                    .all_squares {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2em;
                        .square {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a {
                                position: absolute;
                                color: white;
                                text-decoration: none;
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;
                            }
                            a::before {
                                content: '';
                                position: absolute;
                                bottom: -8px;
                                left: 0;
                                right: 0;
                                height: 4px;
                                width: 120%;
                                background-color: aqua;
                                opacity: 0;  
                            }
                            a:hover:before {
                                opacity: 1;
                                transition: .3s all ease-in;
                            }
                            #light_one {
                                width: 13em;
                                height: 13em;
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }
            footer {
                height: 17em;
                display: flex;
                flex-direction: column;
                .top_footer_contents {
                    display: flex;
                    padding: 1em;
                     // Company Logo
                    .co_name_logo {
                        // Make this fixed within window
                        display: flex;
                        // background-color: red;
                        margin: 1em 0 0 4em;
                        .logo_name {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 0em;
                            #lightbulb {
                                width: 1em;
                                height: 1em;
                            }
                            p {
                                color: $headerfont;
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-size: 1rem;
                            }
                        }
                        // footer list
                        .footer_list {
                            display: flex;
                            gap: 4em;
                            margin: 1em 0 0 5em;
                            .footer_list_contents {
                                display: flex;
                                flex-direction: column;
                                gap: 1em;
                                a {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: .8rem;
                                    text-decoration: none;
                                }
                            }
                            .footer_list_contents_two {
                                display: flex;
                                flex-direction: column;
                                gap: 1em;
                                a {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: .8rem;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    // Email Sign Up
                    .sign_up_div {
                        margin: 3em 0 0 6em;
                        display: flex;
                        flex-direction: column;
                        gap: .5em;
                        small {
                            color: $bluetext;
                            font-family: 'Inter', sans-serif;
                            font-weight: bold;
                        }
                        .email_input {
                            input {
                                background-color: $headerfont;
                                border-radius: 5px;
                                width: 25em;
                                height: 3em;
                                border: none;
                            }
                            button {
                                background-color: $bluetext;
                                // background-color: $borderfont;
                                color: black;
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;
                                border-radius: 5px;
                                width: 10em;
                                height: 3em;
                                border-radius: 5px;
                                border: none;
                                cursor: pointer;
                            }
                        }
                        
                    }
                }
               
                // Socials
                .connect_with {
                    display: flex;
                    flex-direction: column;
                    gap: .8em;
                    margin: 3em 0 0 5em;
                    small {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-weight: bold;
                    }
                    .socials {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1.8em;
                        #twitter {
                            width: 1.8em;
                            height: 1.8em;
                        }
                        .soc_icon {
                            width: 2em;
                            height: 2em;
                        }
                        
                    }
                }
                // Copyrights
                .copyrights {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $bluetext;
                    color: white;
                    font-size: small;
                    font-family: 'Inter', sans-serif;
                    // font-weight: bold;
                    gap: .5em;
                    // margin: 5em 0em 0 -80em;
                    margin-top: 4em;
                    margin-right: -9em;
                    #courdevelops {
                        width: 2em;
                        height: 2em;
                    }
                }
            }
        }
    }
}
